

    .logo-home {
        margin-top: 1rem;
        width: 150px;
        height: 40px;
    }
    
    .bg-custom-color {
        list-style-type: none;
        background-color: rgba(136, 5, 146, 0.942);
        padding: 1;
      }
